
.border{
    margin-left:600px;
    margin-top: 365px;
    position:absolute;
  
   padding:px;

   
}
.login{
    margin-left: 110px;
}
body{
     background-image: url('https://wallpaperaccess.com/full/31193.jpg');
background-repeat: no-repeat;
background-size: cover;
}